<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Detail </h3>
<tr th:each="b : ${board}">
    <a th:href="@{'/board'+'/update/'+ ${b.bno}}"> 수정하기 </a>
    <a th:href="@{'/board/'+'list'}"> 뒤로가기 </a>

    <form th:action="@{'/board/'+'list'+'/'+${b.bno}}" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
    </form>


    <div>
        <label> 제목 : </label>
        [[${b.title}]]
    </div>
    <br>
    <br>
    <div>
        <label> 글쓴이 : </label>
        [[${b.name}]]
    </div>
    <br>
    <br>
    <div>
        <label> 내용 : </label>
        [[${b.context}]]
    </div>
    <br>
    <br>
    <div>
        <label> 만든 날짜 : </label>
        [[${b.createdDate}]]
    </div>
    <br>
    <br>
    <div>
        <label> 수정 날짜 : </label>
        [[${b.modifiedDate}]]
    </div>
    <br>
    <br>
    <div>
        <label> 조회수 : </label>
        [[${b.views}]]
    </div>
</tr>

</body>
</html>