<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> 수정하기 </h3>
<a th:href="@{'/board/'+'list/'+${board.bno}}"> 뒤로가기 </a>
<form th:action="@{'/board/'+ 'list/'+${board.bno}}" th:object="${board}" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="bno" id="bno" th:field="*{bno}">
    <input type="hidden" name="views" id="views" th:field="*{views}">
    <div>
        <label> 제목 </label>
        <input type="text" name="title" id="title" th:field="*{title}">
    </div>
    <br>
    <br>
    <div>
        <label> 글쓴이 </label>
        <input type="text" name="name" id="name" th:field="*{name}">
    </div>
    <br>
    <br>
    <div>
        <label> 내용 </label>
        <input type="text" name="context" id="context" th:field="*{context}">
    </div>
    <button onclick="submit"> 확인 </button>
</form>
</body>
</html>